.body{
   padding: 0px;
   margin: 0px;
   font-family: 'Press Start 2P', system-ui;
   background-color: black;
   color: white
}

.login_container {
    width: 90%;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.pin {
    background-color: black;
    color: white;
    display: inline;
    width: 10vw; /* Adjust based on spacing */
    height: 50px;
    padding: 8px;
    text-align: center;
    margin: 5px 0px 0px 2px;
    font-size:xx-large;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(126, 126, 126);;
}

#pin1{
    margin-left: 30px;
}

#Email, #Username {
    background-color: black;
    color: whitesmoke;
    width: 90%;
    padding: 8px;
    margin: 5px 0px 25px 2px;
    border-radius: 5px;
    border: 1px;
    border-bottom: 1px solid rgb(126, 126, 126);
}


:root {
    --pixel-size: 3;
 }

 
 .Character {
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
 }
 
 .Character_spritesheet {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(128px * var(--pixel-size));
    position: absolute;
    
 }
 .Character_shadow {
    position: absolute;
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
 }
 
 .pixelart {
    image-rendering: pixelated;
 }
 
 .face-right {
    top: calc(-32px * var(--pixel-size));
 }
 .face-up {
    top: calc(-64px * var(--pixel-size));
 }
 .face-left {
    top: calc(-96px * var(--pixel-size));
 }
 
 
 @keyframes moveSpritesheet {
    from {
       transform: translate3d(0px,0,0)
    }
    to {
       transform: translate3d(-100%,0,0)
    }
 }
 
 .bottom-nav {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50px;
   background: #222; /* Dark theme */
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px 0;
   border-top: 1px solid grey;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.nav-item {
   text-decoration: none;
   color: #bbb;
   font-size: 24px;
   display: inline-flex;  /* Ensures no extra hover space */
   flex-direction: column;
   align-items: center;
   gap: 3px; /* Space between icon and text */
   transition: color 0.3s ease-in-out;
   margin: 10px
}

.nav-item i {
   font-size: 24px;
   transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav-item:hover,
.nav-item:hover i {
   color: coral /* Ensures only text & icon change color */
}

.nav-item:hover i {
   transform: scale(1.1); /* Slight icon pop effect */
}
