<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="\static\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
         body  {
            padding: 0px;
            margin: 0px;
            font-family: 'Press Start 2P', system-ui;
            background-color: black;
            color: white
        }
    </style>
</head>
<body>
    




    <div class="bottom-nav">
        <a href="/" class="nav-item"><i class="fa-duotone fa-solid fa-house fa-xl"></i></a>
        <a href="/dashboard" class="nav-item"><i class="fa-duotone fa-solid fa-ranking-star fa-xl"></i></a>
        
        <a href="/profile" class="nav-item"><i class="fa-duotone fa-solid fa-user  fa-xl"></i></a>
        <a href="/login" class="nav-item"><i class="fa-duotone fa-solid fa-right-to-bracket fa-xl" style="--fa-secondary-color: #000000;"></i></a>
    </div>
</body>
</html>